{% extends 'main/layout.html' %}

{% block tittle %}Про нас{% endblock %}


{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci amet,
            excepturi iure laudantium quasi sapiente tenetur ullam vel voluptatibus. Laborum, temporibus, vel? Est nam natus rerum ullam vero vitae.</p>
        <a href="{% url 'main' %}"><button class="btn">На страницу главная</button></a>
    </div>
{% endblock %}